<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chatbirdfinal">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PrimeX.PrimeXLeaderboardsActivity"></activity>
        <activity android:name=".PrimeX.PrimeXResultsActivity" />
        <activity android:name=".PrimeX.PrimeXQuesActivity" />
        <activity
            android:name=".PrimeX.PrimeXHomeActivity"
            android:label="@string/title_activity_prime_x_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GameActivity"
            android:label="@string/title_activity_game"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ResetPassword" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".MessageActivity" />
        <activity android:name=".OptionsActivity" />
        <activity android:name=".FollowersActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".CommentsActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".PostActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Notifications.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name=".Notifications.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>